#navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation-bar li {
    float: left;
}

#navigation-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation-bar a:hover {
    background-color: darkred;
}

.active {
    background-color: darkred;
}

.top-stories-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    /* /* grid-column-gap: .5%; */
    grid-row-gap: 10%;
    /* grid-auto-rows: minmax(100px, auto); */
    /* margin: 50px; */
}

.top-stories-card-container {
    padding: 2px 16px;
    /* border: 1px solid rgba(0, 0, 0, 0.103); */
}

.top-stories-card-container:hover {
    transition: 0.75s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.crop {
    width: 100%;
    height: 75%;
    overflow: hidden;
}
